In [24]:
import pandas as pd

In [25]:
! pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)

In [26]:
df_before = pd.read_excel('data\\before.xlsx')  # Adjust the file format and path as needed
df_after = pd.read_excel('data\\after.xlsx')

C:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [27]:
are_equal = df_before.equals(df_after)

In [28]:
are_equal

False

In [29]:
differences = df_before.compare(df_after)

In [30]:
differences

     Number of Fingers Captured
                           self other
3                          36.0  16.0
25                         26.0  16.0
48                         30.0  20.0
110                         8.0   7.0
128                        26.0  16.0
...                         ...   ...
3705                       26.0  16.0
3721                       22.0  14.0
3775                       32.0  16.0
3840                       26.0  16.0
3851                       46.0  16.0

[79 rows x 2 columns]

In [31]:
differences.shape[0]

79

In [32]:
differences['Hospital Number'] = df_before['Hospital Number']

In [33]:
differences

     Number of Fingers Captured                Hospital Number
                           self other
3                          36.0  16.0   HAN/AKS/RNN/TG2/B7/651
25                         26.0  16.0  HAN/AKS/ENW/TG2/B7/1124
48                         30.0  20.0  HAN/AKS/RNN/TG2/B11/970
110                         8.0   7.0  HAN/AKS/ENW/TG2/B7/1302
128                        26.0  16.0  HAN/AKS/RNN/SP1/B14/804
...                         ...   ...                      ...
3705                       26.0  16.0   HAN/AKS/RNN/TG1/B7/808
3721                       22.0  14.0   HAN/AKS/RNN/TG2/B7/526
3775                       32.0  16.0   HAN/AKS/RNN/TG2/B8/934
3840                       26.0  16.0   HAN/AKS/UFG/TG2/B5/344
3851                       46.0  16.0   HAN/AKS/ENW/TG2/B7/917

[79 rows x 3 columns]

In [34]:
differences = differences.reset_index()

In [35]:
differences

   index Number of Fingers Captured                Hospital Number
                               self other
0      3                       36.0  16.0   HAN/AKS/RNN/TG2/B7/651
1     25                       26.0  16.0  HAN/AKS/ENW/TG2/B7/1124
2     48                       30.0  20.0  HAN/AKS/RNN/TG2/B11/970
3    110                        8.0   7.0  HAN/AKS/ENW/TG2/B7/1302
4    128                       26.0  16.0  HAN/AKS/RNN/SP1/B14/804
..   ...                        ...   ...                      ...
74  3705                       26.0  16.0   HAN/AKS/RNN/TG1/B7/808
75  3721                       22.0  14.0   HAN/AKS/RNN/TG2/B7/526
76  3775                       32.0  16.0   HAN/AKS/RNN/TG2/B8/934
77  3840                       26.0  16.0   HAN/AKS/UFG/TG2/B5/344
78  3851                       46.0  16.0   HAN/AKS/ENW/TG2/B7/917

[79 rows x 4 columns]

In [37]:
differences.to_excel('data\\comparision.xlsx')