In [1]:
import numpy as np

In [22]:
import pandas as pd

In [3]:
empty_series = pd.Series()

In [4]:
X = ['A','B','C']
print(X, type(X))

['A', 'B', 'C'] <class 'list'>

In [5]:
Y = pd.Series(X)
print(Y, type(Y))

0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

In [8]:
X = pd.Series(['A','B','C'])

In [9]:
X.name = 'My letters'

In [10]:
Y = pd.Series(X)
print(Y, type(Y))

0    A
1    B
2    C
Name: My letters, dtype: object <class 'pandas.core.series.Series'>

In [11]:
X.values

array(['A', 'B', 'C'], dtype=object)

In [12]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

In [13]:
X.index = index_names

In [14]:
X

first     A
second    B
third     C
dtype: object

In [15]:
X['first']

'A'

In [16]:
X.pop

<bound method Series.pop of first     A
second    B
third     C
dtype: object>

In [17]:
X

first     A
second    B
third     C
dtype: object

Given the X pandas Series, show all middle elements

In [18]:
X[1:-1]

second    B
dtype: object

Given the X pandas Series, show the elements in reverse position

In [19]:
X[::-1]

third     C
second    B
first     A
dtype: object

Given the X pandas Series, show the first and last elements

In [20]:
X[[0, -1]]

C:\Users\HP\AppData\Local\Temp\ipykernel_7452\2416044086.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  X[[0, -1]]

first    A
third    C
dtype: object

Convert the given integer pandas Series to float

In [23]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

In [24]:
pd.Series(X, dtype=np.float)

NameError: name 'np' is not defined

Reverse the given pandas Series (first element becomes last)

In [25]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

In [26]:
X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

Order (sort) the given pandas Series

In [27]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

In [28]:
X = X.sort_values()

In [29]:
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

Given the X pandas Series, set the fifth element equal to 10

In [30]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

In [31]:
X[4] = 10

C:\Users\HP\AppData\Local\Temp\ipykernel_7452\390577917.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  X[4] = 10

In [32]:
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

Given the X pandas Series, add 5 to every element

In [33]:
X = pd.Series([1,2,3,4,5])

X + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

Series boolean arrays (also called masks)

Given the X pandas Series, make a mask showing negative elements

In [40]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

Given the X pandas Series, get the negative elements

In [41]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

Given the X pandas Series, get numbers higher than 5

In [42]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > 5
X[mask]

5     6
9    10
dtype: int64

Given the X pandas Series, get numbers higher than the elements mean

In [43]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

Given the X pandas Series, get numbers equal to 2 or 10

In [44]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

Given the X pandas Series, return True if none of its elements is zero

In [45]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

True

Given the X pandas Series, return True if any of its elements is zero

In [46]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

True

Given the X pandas Series, show the sum of its elements

In [47]:
X = pd.Series([3,5,6,7,2,3,4,9,4])

#np.sum(X)
X.sum()

43

Given the X pandas Series, show the mean value of its elements

In [48]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.mean(X)
X.mean()

3.7

Given the X pandas Series, show the max value of its elements

In [50]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.max(X)
X.max()

10